<div #stacked_cards_block id="stacked-cards-block" class="stackedcards stackedcards--animatable ">
    <div class="stackedcards-container">
      <div class="card-item"></div>
      <div class="card-item"></div>
      <div class="card-item"></div>
      <div class="card-item"></div>
      <div class="card-item"></div>
      <div class="card-item"></div>
      <div class="card-item"></div>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
    <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
    <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
  </div>
  <div class="global-actions">
    <div class="left-action">Left</div>
    <div class="top-action">Top</div>
    <div class="right-action">Right</div>
  </div>  

